
:root {
    --main-bg-color: #212121;
    --main-text-color: #fff;
  }

body{
    margin:auto;
    background:var(--main-bg-color);
}


#main-header-logo{
    width:150px;
}   


#search-logo{
    position:fixed;
    bottom:50px;
    left:50px;
    width:100px;
    z-index: 990;
}   


.main-container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background:url("https://i.pinimg.com/originals/d7/38/90/d738904565b765ef44bda855718261b8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
     
}
.main-content{
    margin-top: 100px;
}
 
.main-search input,button {
    background-color: #fff;
    font-size: 150%;
}

.main-search button {
    width:200px;
}
 
 
.card{
    background:var(--main-bg-color);
    color:var(--main-text-color);
    transition:0.2s;
    margin-bottom:50px;
}

.card img {
    height:200px;
    width:100%;
    object-fit: cover;
}

.card:hover{
    cursor:pointer;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(235,235,235,0.18);
    -moz-box-shadow: 0px 0px 20px 0px rgba(235,235,235,0.18);
    box-shadow: 0px 0px 20px 0px rgba(235,235,235,0.18);
    transition:0.2s;
}